body {
  margin: 20px auto;
  background-image: url("../img/background.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
}
div {
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
a {
  color: #31314e;
}

li {
  list-style-type: none;
}
li::first-letter {
  text-transform: capitalize;
}
footer {
  padding-top: 25px;
}
.weather-app {
  border: 2px solid #31314e;
  border-radius: 15px;
  padding: 40px 30px;
}
.forecast {
  padding-bottom: 10px;
  padding-left: 15px;
}
.temp {
  font-size: 65px;
}
.forecast-time {
  padding-top: 1.25rem;
  text-align: center;
}
.forecast-temp {
  padding-top: 15px;
  text-align: center;
}
#search-bar {
  padding-bottom: 15px;
}
#search-input,
#current-location {
  font-size: 16px;
  width: fit-content;
}
#temp-convertor {
  text-align: right;
  font-size: 38px;
  margin: 0 20px;
}
#temperature {
  color: #31314e;
  font-size: 2rem;
  font-weight: bolder;
}
#temperature .inactive {
font-weight: lighter;}
#feels-like {
  font-size: 16px;
}
#description {
  font-size: 20px;
}
#icon {
  height: 120px;
}
#celsius-change:hover ,
#fahrenheit-change:hover {
  text-decoration: none;
}
#wind-speed ,
#humidity {
  color: #31314e;
}
#forecast img {
  height: 70px;
  display: block;
  margin: 0 auto;
  color: #31314e;
}